@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 190vh;
    background-color: black;
    font-family: 'Martian Mono', monospace;
}

.main {
    height: 95vh;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    background-image: url(Assets/bg.jpg);
    background-position: center;
    position: relative;
}

.main .box {
    height: 100%;
    width: 100vw;
    opacity: 0.64;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 62px;
    z-index: 10;
    position: relative;
}

nav img {
    width: 114px;
}

.nav-btn {
    display: flex;
    gap: 13px;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 23px;
    margin-top: 45px;
    text-align: center;
    
}

.hero > :first-child {
    font-weight: bolder;
    font-size: 48px;
}

.hero > :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.hero > :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
}

.sept{
    height: 12px;
    background-color: rgb(118, 111, 111);
    margin-top: -46px;

}

.inpt {
    display: flex;
    gap: 7px;
}

.inp {
    padding: 9px 96px;
    border-radius: 5px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid white;
    color: white;
    font-weight: bold;
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
    gap: 5px;
    cursor: pointer;
}

.nav-btn .btn-clc {
    font-size: 20px;
    background-color: rgba(38, 37, 37, 0.2);
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    padding: 3px 34px;
}

.nav-btn .red-btns {
    background-color:red;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.red-btn {
    background-color: red;
    color: white;
    padding: 7px 3px;
    border-radius: 5px;
    font-size: 18px;
}
