

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
   background-color: black;
    color: white;
}



.left{
    width: 25vw;
    padding: 10px;
    

}
.right{
    width: 75vw;
}
.home{
  
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 16px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading  {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}
.heading img{
    width: 30px;
}
.library{
    min-height: 80vh;
    position: relative;
}
.footer{
    display: flex;
    font-size: 10px;
    color: gray;
    gap: 15px;
    position: absolute;
    bottom: 15px;
    font-weight: bold;
    padding: 9px 0px;

}
.footer a{
    color: gray;
    text-decoration: none;
}
.right{
    margin:16px 0 ;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);

}
.header >*{
    padding: 20px;
}

.sptify-playlists{
    padding: 16px;
}
.cardContainer{
    margin:30px;
    display: flex;
    gap: 10px;
    flex-wrap:wrap ;
    overflow-y: scroll;
    max-height: 60vh;
  


}
.sptify-playlists .card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(33, 31, 31); 
    position: relative;

}
.card >*{
    padding-top: 10px;

}
.card img{
    width: 100%;
    object-fit: contain;
}
.card .play{
    width: 30px;
    height: 28px;
    background-color: rgb(58, 113, 3);
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 160px;
    right: 17px;
    opacity: 0;
    transition: all 1s ease-out;
}
.buttons >*{
    margin: 0 12px;
}
.singinbtn{
    background-color: rgb(42, 37, 37);
    color: rgb(165, 153, 153);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
.singinbtn:hover{
    font-size: 1.01rem;
    color: white;
}
.loginbtn{
  background-color: white;
  border-radius: 21px;
  color: black;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;

}
.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;
  
   
}
.playbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 10px;
    width: 90%;
    padding: 12px;
    width: 70vw;
    min-height: 40px;

}
.songbtn{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.songbtn .playbtn{
    width: 32px;
}

.songlist{
 
    overflow-y: scroll;
    max-height: 55vh;
    margin-bottom: 44px ;
}
.songList ul {
    padding: 0 12px;
 
}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    justify-content: space-between;
   
   
}
.songlist .info{
    font-size: 13px;
    width: 344px;
}
.playnow{
  display: flex;
  justify-content: center;
  align-items: center;

}
.playnow img{
    width: 34px;
}
.playnow span{
    font-size: 15px;
    width: 64px;
    padding: 12px;

}
.seekbar{
    height: 2px;
    width: 98%;
    border: 2px solid black;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    margin: 6px;
   
}

.circle{
    width: 13px;
    height:13px ;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transform: left 0.5px;
}
.songbtn img{
   cursor: pointer;
}
.songinfo .songtime{
    color: black;
    padding: 0 12px;
}
.abovebar{
    display: flex;
    width: 100vw;
    justify-content: space-between;

}